.header {
  position: absolute;
  top: 10px;
  right: 10px;
}

.top-banner {
  color: black;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-size: 40px;
  width: 100%;
  top: 20px;
  z-index: 1000;
}

.tabs {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  gap: 1rem;
  width: 100%;
  top: 80px;
  z-index: 1000;
  padding: 1rem 0;
}

.tabs button {
  background-color: #f7f7f7;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 20px;
  border: 2px solid rgb(190, 185, 185);
}

.tabs button.active {
  background-color: #ff5a5f;
  color: white;
}

.application-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem;
  margin-top: 40px; /* Adjust this value based on the height of .top-banner and .tabs */
}

.application {
  width: 300px;
  margin: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 1rem;
  transition: transform 0.2s ease-in-out;
}

.application img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.application a {
  text-decoration: none;
  color: inherit;
}

.application a:visited {
  color: inherit;
}

.application:hover {
  color: inherit;
  transform: scale(1.02);
}

.button-custom {
  background-color: #ff5a5f; 
  border: none;
  color: white; 
  padding: 8px 16px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 12px; 
}

.button-custom:hover {
  background-color: #ff5a5f;
}